<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
<br>
<br>
<center>
    <a style="font-size: 30px;align-self: center">error</a>
    <BR>
    <BR>
    <a style="font-size: 15px;color: red;align-self: center">服务器发生异常，请联系管理员</a>
</center>
</body>
</html>